---
const { title } = Astro.props;

const site_title = 'Astro Test';
const page_title = ( title ? title+' - '+site_title : site_title );
---
<!-- meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- favicon -->
<link rel="icon" href="data:,">

<!-- title -->
<title>{page_title}</title>
