<style lang="less">
nav {
    padding: 1rem;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
li {
}
a {
}
</style>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>