---
import '../styles/global.less';

import Head from '../components/Head.astro'
import Nav  from '../components/Nav.astro'

const { title } = Astro.props.content ?? Astro.props;
---
<!DOCTYPE html>
<html>
<head>

<Head title={title} />

</head>
<body>

<Nav />

<main>
    <slot />
</main>

</body>
</html>