---
import Nav from '../components/Nav.astro'
---
<!DOCTYPE html>
<html>
<head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">

    <!-- title -->
    <title>REPLACEME</title>

</head>
<body>

<Nav></Nav>

<slot></slot>

</body>
</html>