---
---
<!DOCTYPE html>
<html>
<head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">

    <!-- title -->
    <title>REPLACEME</title>

    <!-- link css -->
    <!-- <link rel="stylesheet" href="/assets/app.css"> -->

    <style>
    </style>

</head>
<body>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>

<slot></slot>

</body>
</html>