---
import '../styles/global.less';

import CoreHead from '../components/CoreHead.astro'
import CoreFoot from '../components/CoreFoot.astro'
import Nav from '../components/Nav.astro'

const { title } = Astro.props.content ?? Astro.props;
---
<CoreHead title={title} />

<Nav />

<main>
    <slot></slot>
</main>

<CoreFoot />