---
import Nav from '../components/Nav.astro'
const {content} = Astro.props;
---
<!DOCTYPE html>
<html>
<head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">

    <!-- title -->
    <title>{content.title}</title>

    <!-- link css -->
    <!-- <link rel="stylesheet" href="/assets/app.css"> -->

    <style>
    </style>

</head>
<body>

<Nav></Nav>

<h1>{content.title}</h1>

<slot></slot>

</body>
</html>